services:
  postgres:
    image: postgres:15
    container_name: gadai-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gadai
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ':9001'
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  nginx:
    image: nginx:1.27
    ports:
      - "8080:80"
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
      - web

  api:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./apps/api:/app
      - ./packages:/packages
    command: sh -c "npm i -g pnpm && pnpm i && pnpm dev"
    environment:
      NODE_ENV: development
    depends_on:
      - postgres
      - redis

  web:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./apps/web:/app
      - ./packages:/packages
    command: sh -c "npm i -g pnpm && pnpm i && pnpm dev"
    environment:
      NODE_ENV: development
    depends_on:
      - api

volumes:
  pgdata:
  minio_data:
